<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
    <script src="static/js/react.js"></script>
    <script src="static/js/JSXTransformer.js"></script>    
    <script src="static/js/jquery-2.1.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/react-bootstrap.min.js"></script>
    <script src="static/js/js.cookie-2.0.0.min.js"></script>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script type="text/javascript">
      var Alert = ReactBootstrap.Alert;
      var Button = ReactBootstrap.Button;
      var Modal = ReactBootstrap.Modal;
      var ModalTrigger = ReactBootstrap.ModalTrigger;
      var Input = ReactBootstrap.Input;
      var OverlayMixin = ReactBootstrap.OverlayMixin;
    </script>
  </head>
  <body>
    <div id="content"></div>
      <script type="text/jsx">
      
      var LoginForm = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var email = React.findDOMNode(this.refs.email).value.trim();
          var password = React.findDOMNode(this.refs.password).value.trim();
          var payload = {
            email: email,
            password: password,
          };
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            type: 'POST',
            data: payload,
            success: function(data) {
              if (data.message === 'OK') {
                this.props.doLogin(data);
              }
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        render: function() {
          return (
            <div className="login">
              <h3>Login</h3>
              <form onSubmit={this.handleSubmit}>
                 <Input type="text" placeholder="Email" ref="email"/>
                 <Input type="password" placeholder="Password" ref="password"/>
                 <Input type="submit" value="Login" />
              </form>
            </div>
          );
        }
      });

      var Panel = React.createClass({
        render: function() {
          return (
            <FolderPanel />
          );
        }
      });

      var CreateFolderModal = React.createClass({
        test: function() {
          console.log(this.props);
        },
        render: function() {
          return (
            <Modal {...this.props} title='Add folder'>
              <div className='modal-body'>
              <Input type="text" label="Folder Name" ref="name" />
              </div>
              <div className='modal-footer'>
                <Button onClick={this.props.onRequestHide}>Close</Button>
                <Button bsStyle='primary' onClick={this.test}>Save changes</Button>
              </div>
            </Modal>
          );
        }
      });

      var CreateFolderModalTrigger = React.createClass({
        mixins: [OverlayMixin],
        getInitialState() {
          return {
            isModalOpen: false
          };
        },
        handleToggle() {
          this.setState({
            isModalOpen: !this.state.isModalOpen
          });
        },
        render() {
          return (
            <Button onClick={this.handleToggle} bsStyle='primary'>Add</Button>
          );
        },
        // This is called by the `OverlayMixin` when this component
        // is mounted or updated and the return value is appended to the body.
        renderOverlay() {
          if (!this.state.isModalOpen) {
            return <span/>;
          }
          return (
            <CreateFolderModal onRequestHide={this.handleToggle} {...this.props}/>
          );
        }
      });

      var FolderPanel = React.createClass({
        addFolder: function() {
          console.log('Add');
        },
        render: function() {
          return (
            <div>
              <p>Folders</p>
              <CreateFolderModalTrigger addFolder={this.addFolder}/>
            </div>
          );
        }
      });

      var App = React.createClass({
        getInitialState: function() {
          return {
            login: false,
            data: []
          };
        },
        componentDidMount: function() {
          if (!Cookies.get('token')) {
            return;
          }
          var token = Cookies.get('token');
          $.ajax({
            url: "http://localhost:5000/login/testAuth",
            dataType: 'json',
            type: 'GET',
            success: function(data) {
              if (data.message === 'OK') {
                  this.setState({
                  login: true,
                });
              }
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });

        },
        doLogin: function(data) {
          this.setState({
            login: true,
          });
          Cookies.set('token', data.token, { expires: 7 });
        },
        render: function() {
          if (!this.state.login) {
            return <LoginForm doLogin={this.doLogin} url="http://localhost:5000/login"/>;
          }
          return <Panel />
        }
      });
      React.render(
        React.createElement(App, null),
        document.getElementById('content')
      );
      </script>
  </body>
</html>
