<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
    <title>MyCloud</title>
    <script src="static/js/react.js"></script>
    <script src="static/js/JSXTransformer.js"></script>    
    <script src="static/js/jquery-2.1.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/react-bootstrap.min.js"></script>
    <script src="static/js/js.cookie-2.0.0.min.js"></script>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/Api.js"></script>
    <script type="text/javascript">
      var {
        Alert ,
        Button,
        Modal,
        ModalTrigger,
        Input,
        OverlayMixin,
        Navbar,
        ListGroup,
        ListGroupItem 
      } = ReactBootstrap;
    </script>
  </head>
  <body>
    <div id="content" class="container"></div>
      <script type="text/jsx">

      var LoginForm = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var email = this.refs.email.getValue().trim();
          var password = this.refs.password.getValue().trim();
          var payload = {
            email: email,
            password: password,
          };
          var self = this;
          Api.doLogin(payload, function(data){
            self.props.doLogin(data);
          })
        },
        render: function() {
          return (
            <div className="login col-md-4 col-md-offset-4">
              <h3>Login</h3>
              <form onSubmit={this.handleSubmit}>
                 <Input type="text" placeholder="Email" ref="email"/>
                 <Input type="password" placeholder="Password" ref="password"/>
                 <Input type="submit" value="Login" />
              </form>
            </div>
          );
        }
      });

      var Panel = React.createClass({
        render: function() {
          return (
            <div className="row"> 
              <FolderPanel />
            </div>
          );
        }
      });

      var CreateFolderModal = React.createClass({
        doAddFolder: function() {
          var name = this.refs.name.getValue().trim();
          this.props.addFolder(name);
        },
        render: function() {
          return (
            <Modal {...this.props} title='Add folder'>
              <div className='modal-body'>
              <Input type="text" label="Folder Name" ref="name" />
              </div>
              <div className='modal-footer'>
                <Button onClick={this.props.onRequestHide}>Close</Button>
                <Button bsStyle='primary' onClick={this.doAddFolder}>Add</Button>
              </div>
            </Modal>
          );
        }
      });

      var CreateFolderModalTrigger = React.createClass({
        mixins: [OverlayMixin],
        getInitialState() {
          return {
            isModalOpen: false
          };
        },
        handleToggle() {
          this.setState({
            isModalOpen: !this.state.isModalOpen
          });
        },
        render() {
          return (
            <Button onClick={this.handleToggle} bsStyle='primary'>New Folder</Button>
          );
        },
        // This is called by the `OverlayMixin` when this component
        // is mounted or updated and the return value is appended to the body.
        renderOverlay() {
          if (!this.state.isModalOpen) {
            return <span/>;
          }
          return (
            <CreateFolderModal onRequestHide={this.handleToggle} {...this.props}/>
          );
        }
      });

      var FolderPanel = React.createClass({
        getInitialState: function() {
          return {
            folders: [],
          };
        },
        updateFolderList: function() {
          var self = this;
          Api.getFolders(function(data) {
            self.setState({
              folders: data.items
            });
          });
        },
        componentDidMount: function() {
          this.updateFolderList();
        },
        addFolder: function(name) {
          var payload = {name: name};
          var self = this;
          Api.addFolder(payload, function() {
            self.updateFolderList();
            self.refs.trigger.handleToggle();
          });
        },
        render: function() {
          var folderList = [];
          var data = this.state.folders;
          for (var k in data) {
            var val = data[k];
            folderList.push(<ListGroupItem href='#link1'>{val}</ListGroupItem>);
          }
          return (
            <div className="col-md-4">
              <CreateFolderModalTrigger ref="trigger" addFolder={this.addFolder}/>
              <p></p>
              <ListGroup>
               {folderList}
              </ListGroup>
            </div>
          );
        }
      });

      var App = React.createClass({
        getInitialState: function() {
          return {
            login: false,
            data: []
          };
        },
        componentDidMount: function() {
          if (!Cookies.get('token')) {
            return;
          }
          var token = Cookies.get('token');
          var self = this;
          Api.testAuth(function(data) {
            if (data.message === 'OK') {
              self.setState({
                login: true,
              });
            }
          });
        },
        doLogin: function(data) {
          this.setState({
            login: true,
          });
          Cookies.set('token', data.token, { expires: 7 });
        },
        render: function() {
          if (!this.state.login) {
            return (
              <div className="row">
                <LoginForm doLogin={this.doLogin}/>
              </div>
            );
          }
          return (
            <div>
              <Navbar brand='MyCloud' />
              <Panel />
            </div>
          );
        }
      });
      React.render(
        React.createElement(App, null),
        document.getElementById('content')
      );
      </script>
  </body>
</html>
