<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MyCloud</title>
    <script src="{{ url_for('static', filename='js/react.js') }}"></script>
    <script src="{{ url_for('static', filename='js/JSXTransformer.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie-2.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/Api.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div id="content" class="container"></div>
      <script type="text/jsx" src="{{ url_for('static', filename='js/sharePage.jsx') }}"></script>
  </body>
</html>
